@import "../../assets/sass/main.scss";

#header {
  background-color: $bgColor;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 30px 0;
  .container {
    .header-elements {
      display: flex;
      align-items: center;
      justify-content: space-between;
      nav {
        ul {
          display: flex;
          column-gap: 12px;
          li {
            a {
              color: $text-white;
              font-family: $font-roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 20px; /* 142.857% */
              letter-spacing: 0.14px;
            }
          }
        }
      }
      .header-buttons {
        display: flex;
        column-gap: 24px;
        .btn {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
