.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 106px;
}
