// Main colors
$text-white: #ffffff;

// Gradients



// Box Shadows


// Functional Colors


// Fonts
$font-lexend: "Lexend", sans-serif;
$font-appleTea: "a Apple Tea", sans-serif;
$font-levenim: "Levenim MT", sans-serif;

/* Breakpoints */
$breakpoints: (
  S: 390px,
  M: 480px,
  L: 768px,
  XL: 1000px,
  XXL: 1440px,
  XXXL: 1920px,
);
