// Main colors
$text-white: #ffffff;
$text-white-200: #d9d9d9;
$text-grey: #949494;
$text-grey-light: #b7b7b7;
$bgColor: #18012b;
$blue-secondary: rgba(32, 211, 244, 0.3);

// Gradients
$gradient-primary: conic-gradient(
  from 225deg at 50% 164.17%,
  #331f53 0deg,
  #4c177a 18.6963607371deg,
  #9001e0 59.7033601999deg,
  #ff005c 118.8361823559deg,
  #fdbc51 181.8749928474deg,
  #cdd2e5 247.2498464584deg,
  #2290ec 300.6723690033deg,
  #25164b 360deg
);

// Box Shadows

$box-shadow-primary: 6px 0px 18.80976px 0px rgba(189, 0, 255, 0.5),
  -11px 1.25398px 18.80976px 0px rgba(32, 211, 244, 0.3);

// Functional Colors

// Fonts
$font-roboto: "Roboto", sans-serif;
$font-baiJamjuree: "Bai Jamjuree", sans-serif;
$font-levenim: "Levenim MT", sans-serif;
$font-lexend: "Lexend", sans-serif;
$font-poppins: "Poppins", sans-serif;

/* Breakpoints */
$breakpoints: (
  S: 389px,
  M: 479px,
  L: 767px,
  XL: 1199px,
  XXL: 1439px,
  XXXL: 1919px,
);
