@import "../../assets/sass/main.scss";

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 20px;
  color: $text-white;
  font-family: $font-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;

  &--outline {
    padding: 12px 24px;
    border: 1px solid $text-white;
  }
}
