@import "../../../assets/sass/main.scss";

.faq-section {
  background-color: $bgColor;
  padding: 120px 0 96px;
  .container {
    .faq-title {
      text-align: center;
      h2 {
        color: $text-white;
        font-family: $font-baiJamjuree;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 48px */
        margin-bottom: 27px;
      }
    }
    .faq-content {
      margin: 0 auto;
      max-width: 766px;
    }
  }
}
