@import "../../assets/sass/main.scss";

.custom-list {
  list-style: none; /* Remove default list bullets */
  padding: 0; /* Remove default padding for the list */
  display: flex;
  flex-direction: column;
  gap: 24px;
  &.pro {
    .custom-list__item {
      &::before {
        background: url("https://ucarecdn.com/9d566a63-a545-4bd7-ba02-8a96f712fcbb/checkeddark.svg")
          center center no-repeat; /* Set the custom bullet image */
      }
    }
  }
  &__item {
    padding-left: 34px; /* Add some padding to the left of list items */
    position: relative;
    p {
      color: $text-white;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
      letter-spacing: 0.48px;
    }

    &::before {
      content: "";
      background: url("https://ucarecdn.com/3bdc76f2-a99c-4dec-93a3-7b554df4b2b8/checked.svg")
        center center no-repeat; /* Set the custom bullet image */
      width: 22px; /* Adjust the width of the bullet image */
      height: 22px; /* Adjust the height of the bullet image */
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
