@import "../../assets/sass/main.scss";

.logo-wrapper {
  display: flex;
  align-items: center;
}

.site-card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
