.lst-kix_d56xvy6e4jr8-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d56xvy6e4jr8-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_d56xvy6e4jr8-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_immijww4i6g4-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_immijww4i6g4-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_immijww4i6g4-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_immijww4i6g4-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d56xvy6e4jr8-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_d56xvy6e4jr8-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d56xvy6e4jr8-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_immijww4i6g4-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_6u6wygiie8zm-0 {
  list-style-type: none;
}
ul.lst-kix_immijww4i6g4-0 {
  list-style-type: none;
}
ul.lst-kix_immijww4i6g4-1 {
  list-style-type: none;
}
ul.lst-kix_6u6wygiie8zm-4 {
  list-style-type: none;
}
ul.lst-kix_immijww4i6g4-2 {
  list-style-type: none;
}
ul.lst-kix_6u6wygiie8zm-3 {
  list-style-type: none;
}
ul.lst-kix_immijww4i6g4-3 {
  list-style-type: none;
}
ul.lst-kix_6u6wygiie8zm-2 {
  list-style-type: none;
}
ul.lst-kix_immijww4i6g4-4 {
  list-style-type: none;
}
ul.lst-kix_6u6wygiie8zm-1 {
  list-style-type: none;
}
ul.lst-kix_immijww4i6g4-5 {
  list-style-type: none;
}
ul.lst-kix_6u6wygiie8zm-8 {
  list-style-type: none;
}
ul.lst-kix_immijww4i6g4-6 {
  list-style-type: none;
}
ul.lst-kix_6u6wygiie8zm-7 {
  list-style-type: none;
}
ul.lst-kix_immijww4i6g4-7 {
  list-style-type: none;
}
ul.lst-kix_6u6wygiie8zm-6 {
  list-style-type: none;
}
.lst-kix_immijww4i6g4-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_immijww4i6g4-8 {
  list-style-type: none;
}
ul.lst-kix_6u6wygiie8zm-5 {
  list-style-type: none;
}
.lst-kix_d56xvy6e4jr8-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_gurejlz3u3la-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_gurejlz3u3la-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_7mdqjbhctov5-0 {
  list-style-type: none;
}
.lst-kix_gurejlz3u3la-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_gurejlz3u3la-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_gurejlz3u3la-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_7mdqjbhctov5-4 {
  list-style-type: none;
}
.lst-kix_gurejlz3u3la-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_7mdqjbhctov5-3 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-2 {
  list-style-type: none;
}
.lst-kix_gurejlz3u3la-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_gurejlz3u3la-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_7mdqjbhctov5-1 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-8 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-7 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-6 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-5 {
  list-style-type: none;
}
.lst-kix_gurejlz3u3la-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_7mdqjbhctov5-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_immijww4i6g4-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_immijww4i6g4-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_7mdqjbhctov5-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_immijww4i6g4-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_7mdqjbhctov5-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_7mdqjbhctov5-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_qjd1ac94xuaf-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qjd1ac94xuaf-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_7mdqjbhctov5-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qjd1ac94xuaf-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_mpo62od8vbtk-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_7mdqjbhctov5-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_mpo62od8vbtk-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_mpo62od8vbtk-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ek8hjuboqs4h-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_mpo62od8vbtk-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_mpo62od8vbtk-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ek8hjuboqs4h-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_5f0sm9thrdq8-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ek8hjuboqs4h-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ek8hjuboqs4h-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_c7yd24pabbq-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_c7yd24pabbq-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ek8hjuboqs4h-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_c7yd24pabbq-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_c7yd24pabbq-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_c7yd24pabbq-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d56xvy6e4jr8-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_6u6wygiie8zm-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_6u6wygiie8zm-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_5f0sm9thrdq8-7 {
  list-style-type: none;
}
.lst-kix_6u6wygiie8zm-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_5f0sm9thrdq8-6 {
  list-style-type: none;
}
ul.lst-kix_5f0sm9thrdq8-5 {
  list-style-type: none;
}
.lst-kix_6u6wygiie8zm-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_5f0sm9thrdq8-4 {
  list-style-type: none;
}
.lst-kix_6u6wygiie8zm-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_5f0sm9thrdq8-8 {
  list-style-type: none;
}
ul.lst-kix_5f0sm9thrdq8-3 {
  list-style-type: none;
}
ul.lst-kix_5f0sm9thrdq8-2 {
  list-style-type: none;
}
ul.lst-kix_5f0sm9thrdq8-1 {
  list-style-type: none;
}
ul.lst-kix_5f0sm9thrdq8-0 {
  list-style-type: none;
}
.lst-kix_4349ssnv8uh1-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_4349ssnv8uh1-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_4349ssnv8uh1-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_4349ssnv8uh1-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_4349ssnv8uh1-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_4349ssnv8uh1-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_4349ssnv8uh1-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_4349ssnv8uh1-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_4349ssnv8uh1-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_gurejlz3u3la-3 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-2 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-5 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-4 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-7 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-6 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-8 {
  list-style-type: none;
}
.lst-kix_5f0sm9thrdq8-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_5f0sm9thrdq8-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_5f0sm9thrdq8-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_5f0sm9thrdq8-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_gurejlz3u3la-1 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-0 {
  list-style-type: none;
}
.lst-kix_5f0sm9thrdq8-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_5f0sm9thrdq8-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_6u6wygiie8zm-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_6u6wygiie8zm-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_qjd1ac94xuaf-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_6u6wygiie8zm-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qjd1ac94xuaf-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_qjd1ac94xuaf-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_6u6wygiie8zm-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_qjd1ac94xuaf-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_qjd1ac94xuaf-3 {
  list-style-type: none;
}
.lst-kix_7mdqjbhctov5-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_qjd1ac94xuaf-2 {
  list-style-type: none;
}
ul.lst-kix_qjd1ac94xuaf-1 {
  list-style-type: none;
}
ul.lst-kix_qjd1ac94xuaf-0 {
  list-style-type: none;
}
.lst-kix_qjd1ac94xuaf-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_qjd1ac94xuaf-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_qjd1ac94xuaf-8 {
  list-style-type: none;
}
ul.lst-kix_qjd1ac94xuaf-7 {
  list-style-type: none;
}
.lst-kix_7mdqjbhctov5-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_qjd1ac94xuaf-6 {
  list-style-type: none;
}
ul.lst-kix_qjd1ac94xuaf-5 {
  list-style-type: none;
}
ul.lst-kix_qjd1ac94xuaf-4 {
  list-style-type: none;
}
.lst-kix_mpo62od8vbtk-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_7mdqjbhctov5-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_mpo62od8vbtk-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_mpo62od8vbtk-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_mpo62od8vbtk-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ek8hjuboqs4h-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_5f0sm9thrdq8-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_5f0sm9thrdq8-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_c7yd24pabbq-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ek8hjuboqs4h-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ek8hjuboqs4h-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_c7yd24pabbq-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_mpo62od8vbtk-0 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-1 {
  list-style-type: none;
}
.lst-kix_ek8hjuboqs4h-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_mpo62od8vbtk-2 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-8 {
  list-style-type: none;
}
.lst-kix_c7yd24pabbq-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_d56xvy6e4jr8-5 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-4 {
  list-style-type: none;
}
.lst-kix_c7yd24pabbq-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_d56xvy6e4jr8-7 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-6 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-1 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-0 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-3 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-2 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-4 {
  list-style-type: none;
}
ul.lst-kix_c7yd24pabbq-0 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-3 {
  list-style-type: none;
}
ul.lst-kix_c7yd24pabbq-1 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-6 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-0 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-5 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-0 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-2 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-1 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-2 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-4 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-1 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-3 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-6 {
  list-style-type: none;
}
ul.lst-kix_c7yd24pabbq-8 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-5 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-8 {
  list-style-type: none;
}
ul.lst-kix_c7yd24pabbq-6 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-7 {
  list-style-type: none;
}
ul.lst-kix_c7yd24pabbq-7 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-8 {
  list-style-type: none;
}
ul.lst-kix_c7yd24pabbq-4 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-7 {
  list-style-type: none;
}
ul.lst-kix_c7yd24pabbq-5 {
  list-style-type: none;
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
ul.lst-kix_c7yd24pabbq-2 {
  list-style-type: none;
}
ul.lst-kix_c7yd24pabbq-3 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-7 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-8 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-3 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-4 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-5 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-6 {
  list-style-type: none;
}
.lst-kix_d56xvy6e4jr8-7 > li:before {
  content: "\0025cb   ";
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c6 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c5 {
  background-color: #ffffff;
  padding-top: 14pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c2 {
  background-color: #ffffff;
  padding-top: 12pt;
  padding-bottom: 2pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left !important;
}
.c8 {
  background-color: #ffffff;
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  color: #434343;
  font-size: 14pt;
  font-family: "Arial";
  page-break-after: avoid;
}
.c0 {
  color: #535353;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal;
}
.c10 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c7 {
  color: #535353;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c1 {
  color: #535353;
  font-weight: 700 !important;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal;
}
.c11 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c3 {
  text-decoration-skip-ink: none;
  font-size: 12pt;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
  padding-top: 14pt;
  color: #666666;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c12 {
  font-weight: 400;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.c15 {
  .container {
    * {
      margin-left: 0;
      margin-right: 0;
    }
  }
  background-color: #ffffff;
  padding: 72pt 72pt 72pt 72pt;
}
.c17 {
  color: #000000;
  text-decoration: none;
  font-size: 11pt;
}
.c14 {
  padding: 0;
  margin: 0;
}
.c4 {
  color: #535353;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
  color: inherit;
  text-decoration: inherit;
}
.c9 {
  color: #535353;
  font-size: 12pt;
}
.c16 {
  font-weight: 700;
}
.c13 {
  height: 11pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

