@import "../../assets/sass/main.scss";

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 15, 35, 0.05);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9; /* Adjust the z-index to ensure it's above other content */
  .loading-container {
    display: flex;
    align-items: center;
    gap: 40px;
    .loading-spinner {
      width: 80px;
      height: 80px;
      animation: rotate 2s linear infinite;
    }
    .loading-message {
      max-width: 246px;
      color: $text-white;
      font-family: $font-baiJamjuree;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
