.lst-kix_d56xvy6e4jr8-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d56xvy6e4jr8-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_d56xvy6e4jr8-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_d56xvy6e4jr8-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_d56xvy6e4jr8-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d56xvy6e4jr8-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_d56xvy6e4jr8-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_gurejlz3u3la-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_gurejlz3u3la-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_4349ssnv8uh1-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_4349ssnv8uh1-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_4349ssnv8uh1-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_4349ssnv8uh1-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_4349ssnv8uh1-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_4349ssnv8uh1-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_4349ssnv8uh1-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_4349ssnv8uh1-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_4349ssnv8uh1-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_gurejlz3u3la-3 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-2 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-5 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-4 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-0 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-7 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-6 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-8 {
  list-style-type: none;
}
.lst-kix_gurejlz3u3la-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_gurejlz3u3la-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_gurejlz3u3la-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_7mdqjbhctov5-4 {
  list-style-type: none;
}
.lst-kix_gurejlz3u3la-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_7mdqjbhctov5-3 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-2 {
  list-style-type: none;
}
.lst-kix_gurejlz3u3la-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_gurejlz3u3la-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_7mdqjbhctov5-1 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-8 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-7 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-6 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-1 {
  list-style-type: none;
}
ul.lst-kix_7mdqjbhctov5-5 {
  list-style-type: none;
}
ul.lst-kix_gurejlz3u3la-0 {
  list-style-type: none;
}
.lst-kix_gurejlz3u3la-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qjd1ac94xuaf-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_7mdqjbhctov5-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qjd1ac94xuaf-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_qjd1ac94xuaf-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_7mdqjbhctov5-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_qjd1ac94xuaf-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_qjd1ac94xuaf-3 {
  list-style-type: none;
}
.lst-kix_7mdqjbhctov5-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_qjd1ac94xuaf-2 {
  list-style-type: none;
}
ul.lst-kix_qjd1ac94xuaf-1 {
  list-style-type: none;
}
.lst-kix_7mdqjbhctov5-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_7mdqjbhctov5-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_qjd1ac94xuaf-0 {
  list-style-type: none;
}
.lst-kix_qjd1ac94xuaf-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_qjd1ac94xuaf-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qjd1ac94xuaf-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qjd1ac94xuaf-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_7mdqjbhctov5-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_qjd1ac94xuaf-8 {
  list-style-type: none;
}
ul.lst-kix_qjd1ac94xuaf-7 {
  list-style-type: none;
}
.lst-kix_7mdqjbhctov5-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_qjd1ac94xuaf-6 {
  list-style-type: none;
}
ul.lst-kix_qjd1ac94xuaf-5 {
  list-style-type: none;
}
.lst-kix_qjd1ac94xuaf-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_qjd1ac94xuaf-4 {
  list-style-type: none;
}
.lst-kix_mpo62od8vbtk-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_mpo62od8vbtk-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_7mdqjbhctov5-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_7mdqjbhctov5-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_mpo62od8vbtk-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_mpo62od8vbtk-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_mpo62od8vbtk-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_mpo62od8vbtk-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_mpo62od8vbtk-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ek8hjuboqs4h-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_mpo62od8vbtk-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_mpo62od8vbtk-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ek8hjuboqs4h-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ek8hjuboqs4h-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ek8hjuboqs4h-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ek8hjuboqs4h-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ek8hjuboqs4h-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ek8hjuboqs4h-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ek8hjuboqs4h-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_mpo62od8vbtk-0 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-1 {
  list-style-type: none;
}
.lst-kix_ek8hjuboqs4h-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_mpo62od8vbtk-2 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-8 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-5 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-4 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-7 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-6 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-1 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-0 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-3 {
  list-style-type: none;
}
ul.lst-kix_d56xvy6e4jr8-2 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-4 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-3 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-6 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-0 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-5 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-0 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-2 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-1 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-2 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-4 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-1 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-3 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-6 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-5 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-8 {
  list-style-type: none;
}
ul.lst-kix_ek8hjuboqs4h-7 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-8 {
  list-style-type: none;
}
ul.lst-kix_4349ssnv8uh1-7 {
  list-style-type: none;
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
ul.lst-kix_mpo62od8vbtk-7 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-8 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-3 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-4 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-5 {
  list-style-type: none;
}
ul.lst-kix_mpo62od8vbtk-6 {
  list-style-type: none;
}
.lst-kix_d56xvy6e4jr8-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_d56xvy6e4jr8-8 > li:before {
  content: "\0025a0   ";
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c0 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c2 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 4pt;
  line-height: 1.6;
  orphans: 2;
  widows: 2;
  text-align: center !important;
  margin-bottom: 40px;
}
.c4 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c8 {
  color: #37404d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 23pt;
  font-family: "Arial";
  font-style: normal;
}
.c5 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c13 {
  background-color: #ffffff;
  padding-top: 75pt;
  padding-bottom: 75pt;
  line-height: 1.6;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c12 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c3 {
  color: #37404d !important;
  text-decoration: none !important;
  font-weight: 700 !important;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 17pt !important;
  font-family: "Arial";
  font-style: normal;
}
.c1 {
  color: #535353;
  font-weight: 400 !important;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal;
}
.c11 {
  background-color: #ffffff;
  padding: 72pt 72pt 72pt 72pt;
  .container {
  }
}
.c7 {
  color: #0facf3 !important;
  text-decoration: inherit;
}
.c9 {
  color: #0facf3;
  font-size: 12pt;
}
.c10 {
  color: #535353;
  font-size: 12pt;
}
.c6 {
  padding: 0;
  margin: 0;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
