@import "../../../assets/sass/main.scss";

.generator-form {
  background-color: $bgColor;
  padding: 40px 0 60px;
  .container {
    .form-box {
      form {
        width: 100%;
        .form-groups {
          max-width: 965px;
          margin: 0 auto;
          .form-group {
            margin-bottom: 32px;
            display: flex;
            align-items: flex-end;
            width: 100%;
            column-gap: 16px;
            @include tablet {
              flex-direction: column;
            }
            .input-box {
              width: 100%;
              position: relative;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              label {
                color: #ebe3ee;
                margin-bottom: 20px;
                font-family: $font-baiJamjuree;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-align: center;
                @include tablet {
                  font-size: 24px;
                }
              }
              .input-field {
                margin-top: 20px;
                box-sizing: border-box;
                padding: 22px 12px;
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 8px;
                background-color: $text-white-200;
                caret-color: $bgColor;
                //
                color: $bgColor;
                font-family: $font-baiJamjuree;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                @include tablet {
                  font-size: 20px;
                }
                &::placeholder {
                  font-family: $font-baiJamjuree;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  @include tablet {
                    font-size: 20px;
                  }
                }
                @include tablet {
                  margin: 16px 0;
                  padding: 12px;
                }
              }
              .ant-input-group .ant-input-group-addon {
                background-color: unset;
                padding: 0;
                color: $bgColor;
                font-family: $font-baiJamjuree;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                @include tablet {
                  font-size: 20px;
                }
              }
              #subdomain {
                background: unset;
                padding: 0;
                color: $bgColor;
                font-family: $font-baiJamjuree;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border: none;
                @include tablet {
                  font-size: 20px;
                }
                &:focus {
                  border: none;
                  box-shadow: none;
                }
              }
              .btn {
                position: absolute;
                padding: 12px 60px;
                max-height: 50px;
                right: 12px;
                bottom: 12px;
                @include tablet {
                  width: 100%;
                  position: static;
                  padding: 12px 60px;
                  max-height: 50px;
                  right: 0;
                }
              }
            }
          }
          .tags-group {
            display: flex;
            margin-bottom: 16px;
            align-items: center;
            @include tablet {
              flex-direction: column;
            }
            span {
              display: flex;
              align-items: center;
              margin-right: 23px;
              color: $text-white;
              font-family: $font-baiJamjuree;
              font-size: 27px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              @include tablet {
                font-size: 24px;
                margin: 0 0 16px;
              }
            }
          }
          .tags-list {
            display: flex;
            gap: 16px;
            justify-content: center;
            flex-wrap: wrap;
          }
          .btn-wrapper {
            margin-top: 32px;
            display: flex;
            justify-content: center;
            .more-btn {
              font-size: 20px;
              font-weight: 500;
              line-height: normal;
              text-decoration-line: underline;
            }
          }
        }
        .builder-templates {
          text-align: center;
          margin-bottom: 81px;
          span {
            color: $text-white;
            font-family: $font-baiJamjuree;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .radio-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 13px;
            .radio-label {
              margin-top: 37px;
              display: flex;
              align-items: center;
              flex-direction: column;
              cursor: pointer;
              &:hover {
                img {
                  box-shadow: $box-shadow-primary;
                }
              }
              img {
                width: 280px;
                height: 329px;
                transition: all 0.4s ease; /* Smooth transition for border color */
              }

              input[type="radio"] {
                -webkit-appearance: none;
                appearance: none;
                display: grid;
                place-content: center;
                cursor: pointer;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #4b4b4b;
                margin-bottom: 37px;
                &::before {
                  content: "";
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  transform: scale(0);
                  transition: 120ms transform ease-in-out;
                  box-shadow: inset 1em 1em $text-white;
                }
                &:checked {
                  background-image: $gradient-primary;
                  &::before {
                    transform: scale(1);
                  }
                }
              }

              input[type="radio"]:checked + img {
                /* Change border color when checked */
                box-shadow: $box-shadow-primary;
              }
            }
          }
        }
      }
    }
  }
}
