@import "../../assets/sass/main.scss";

.register-form {
  padding: 38px 73px 30px;
  box-sizing: border-box;
  max-width: 585px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid $text-white;
  background: linear-gradient(
    106deg,
    rgba(255, 255, 255, 0.4) 3.04%,
    rgba(255, 255, 255, 0) 96.05%
  );
  backdrop-filter: blur(18.075000762939453px);
  -webkit-backdrop-filter: blur(18.075000762939453px);
  .form-title {
    text-align: center;
    color: $text-white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 8px;
  }
  .form-text {
    text-align: center;
    color: $text-white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  #register-form {
    width: 100%;
    .inputs {
      padding: 36px 0 24px;
      .input-field {
        height: 74.5px;
        input {
          border-radius: 10px;
          border: 1px solid #e6e6e6;
          background: #fff;
          padding: 16px 15px;
          box-sizing: border-box;
          width: 100%;
          color: #18012a;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          &::placeholder {
            opacity: 0.5;
            color: #18012a;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
      .checkbox-field {
        height: 24px;
        .checkbox-input {
          display: flex;
          align-items: center;
          gap: 10px;
          #termsCheckbox {
            cursor: pointer;
            width: 18px;
            height: 18px;
            border-radius: 10px;
          }
          label {
            font-family: $font-roboto;
            color: $text-white;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
          }
        }
      }
      .error-message {
        color: #ff4d00;
        font-size: 16px;
      }
    }
    .btn-sign-up {
      width: 100%;
      padding: 16px 0;
      margin-top: 5px;
    }
    .btn-login {
      margin: 16px auto 0;
      color: $text-white;
      font-family: $font-baiJamjuree;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      background: none;
      border: none;
      border-top: 2px solid #00fff2;
      border-bottom: 2px solid #fbc63c;
      border-image: linear-gradient(126deg, #fbc63c -9.13%, #00fff2 56.75%);
      border-image-slice: 1;
      position: relative;
      transition: all 0.3s;
      width: 97% !important;
      &:before,
      &:after {
        content: "";
        display: block;
        width: 2em;
        height: 100%;
        border-radius: 8px 0 0 8px;
        border: 2px solid #fbc63c;
        position: absolute;
        border-right: none;
        transition: all 0.3s;
        left: -6px;
        top: -2px;
        z-index: -1;
      }
      &:after {
        border-radius: 0 8px 8px 0;
        border: 2px solid #00fff2;
        position: absolute;
        border-left: none;
        left: auto;
        right: -6px;
        top: -2px;
        z-index: -1;
      }
    }
  }
  .links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    .link {
      color: $text-white;
      font-family: $font-roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.14px;
      text-align: center;
    }
  }
}
